#vishal { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; height: 50%; width: 100%; margin: 0%; border: 5px solid #1EE3CF; padding: 20px; background-color: rgba(0, 14, 40, 0.65);
  color: #f3f6f5;  font-size: large; max-width:600;
}

h1{
    text-align: center;
    color: #181b0a;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  background-color: azure; border-radius: 10px; padding: 10px;
}


 body { background-image: url(https://i.ibb.co/d0vb5Zy9/bca2.png); background-position: center; background-repeat: no-repeat; background-size: cover; min-height: 100vh;
  margin:0%
 }

 hr {
    border: 2px solid #1EE3CF; margin-top: 20px; margin-bottom: 20px;
    
 }

 .vishal2 {

    background-color: #007BFF;  color: #ffffff; width: 50%; height: 40px; font-size: 20px; border-radius: 10px; text-align: center;
 }

 .vb {
    color: red;
   
  font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
 }
.vishal3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large; width: 20%; height: 30px; border-radius: 5px; background-color: red; color: white;
 } 
 
